<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/ViewStyles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" />
    <title>Categorías</title>
</head>

<body>
    <nav class="navbar">
        <a class="nav-logo" href="/home">
            <i class="fas fa-tasks"></i>
            <h1>Lista de Tareas</h1>
        </a>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
                <li>
                    <a href="{{ url_for('nueva_tarea') }}">Agregar Nueva Tarea</a>
                </li>
                <li><a href="/home?filtro=todas">Todas las Tareas</a></li>
                <li><a href="/home?filtro=completadas">Tareas Completadas</a></li>
                <li><a href="/home?filtro=pendientes">Tareas Pendientes</a></li>
                <li><a href="/home?filtro=en_progreso">Tareas En Progreso</a></li>
                <li><a href="{{ url_for('reporte') }}">Reporte</a></li>
                <li><a href="/tareas">Lista de Tareas</a></li>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </div>
        </ul>
    </nav>
    <div class="container">
        <h1>Categorías</h1>
        <ul class="list">
            <button class="btn btn-primary" onclick="window.location.href='/categoria/nueva'">
                Añadir Nueva Categoría
            </button>
            <li class="card card-head">
                <span>Nombre de la Categoría</span>
                <span>Acciones</span>
            </li>
            {% for categoria in categorias %}
            <li class="card">
                <span class="name">{{ categoria.nombre }}</span>
                <div class="actions">
                    <a class="btn btn-secondary" href="/categoria/editar/{{ categoria.id }}"><i class="fas fa-edit"><span
                                class="tooltip">Editar</span></i></a>
                    <a class="btn btn-secondary" href="/categoria/eliminar/{{ categoria.id }}"
                        onclick="return confirm('¿Estás seguro de que quieres eliminar esta categoría?');" ><i
                            class="fas fa-trash"><span class="tooltip">Eliminar</span></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>