<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta charset="UTF-8" />
    <title>Lista de Tareas - Inicio</title>
    <link rel="stylesheet" href="../static/css/homeStyles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <a class="nav-logo" href="/">
        <i class="fas fa-tasks"></i>
        <h1>Lista de Tareas</h1>
      </a>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li>
            <a href="{{ url_for('nueva_tarea') }}">Agregar Nueva Tarea</a>
          </li>
          <li><a href="/categorias">Categorías</a></li>
          <li><a href="/home?filtro=todas">Todas las Tareas</a></li>
          <li><a href="/home?filtro=completadas">Tareas Completadas</a></li>
          <li><a href="/home?filtro=pendientes">Tareas Pendientes</a></li>
          <li><a href="/home?filtro=en_progreso">Ver Tareas En Progreso</a></li>
          <li><a href="{{ url_for('reporte') }}">Reporte</a></li>

        </div>
      </ul>
    </nav>
    <div class="container">
      {% for categoria in categorias %}
      <div class="categoria">
        <h2>{{ categoria.nombre }}</h2>
        <ul>
          {% for tarea in tareas %} {% if tarea.categoria_id == categoria.id %}
          <li class="task">
            <div class="informacion">
              <p class="name">{{ tarea.descripcion }}</p>
              <p>
                Fecha de Inicio:{{ tarea.fecha_inicio.strftime('%Y-%m-%d %H:%M') }}
              </p>
              <p>Fecha Limite: {{ tarea.fecha_fin.strftime('%Y-%m-%d %H:%M') }}</p>
              <p>Estado: {{ tarea.estado.nombre }}</p>
            </div>
            <div class="acciones">
              <a class="btn edit-btn" href="{{ url_for('editar_tarea', tarea_id=tarea.id) }}">
                <i class="fas fa-edit"><span class="tooltip">Editar</span></i>
                </a
              >
              <a class="btn delete-btn"
                href="{{ url_for('eliminar_tarea', tarea_id=tarea.id) }}"
                onclick="return confirm('¿Estás seguro?');"
                ><i class="fas fa-trash"><span class="tooltip">Eliminar</span></i> 
                </a
              >
              {% if tarea.estado.nombre != "Completada" %}
              <a class="btn complete-btn"
                href="{{ url_for('cambiar_estado_tarea', tarea_id=tarea.id, nuevo_estado='Completada') }}"
                ><i class="fas fa-check"><span class="tooltip">Completar tarea</span></i>
                </a
              >
              {% endif %} {% if tarea.estado.nombre != "En Progreso" %}
              <a class="btn progress-btn"
                href="{{ url_for('cambiar_estado_tarea', tarea_id=tarea.id, nuevo_estado='En Progreso') }}"
                ><i class="fas fa-running"><span class="tooltip">En progreso</span></i>
                </a
              >
              {% endif %} {% if tarea.estado.nombre != "Pendiente" %}
              <a class="btn pending-btn"
                href="{{ url_for('cambiar_estado_tarea', tarea_id=tarea.id, nuevo_estado='Pendiente') }}"
                ><i class="fas fa-hourglass-start"><span class="tooltip">Pendiente</span></i>
                </a
              >
              {% endif %}
            </div>
          </li>
          {% endif %} {% else %}
          <li>No hay tareas disponibles en esta categoría</li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="name">No hay categorías definidas.</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
